{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Campus Store{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body>

    <header>
        <nav>
            <a href="/" class="logo">
                <img src="{% static 'images/logo.jpeg' %}" alt="Campus Store Logo">
            </a>
            <a href="/products/">Products</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Campus Store</p>
    </footer>

    {% block extra_js %}
        <script src="{% static 'products/js/script.js' %}"></script>
    {% endblock %}

</body>
</html>